<div id="content">
    <div class="card-title">
        <h1 class="title">Hambúrguer da Galera</h1>
        <h3 class="data">10/02/2021</h3>
        
    </div>
    <div id="conteiner">
        <div id="sidebar">
            <div class="img">
                <img src="https://th.bing.com/th/id/OIP.k10tZ0S1VvlEJJq1UZadmwHaGa?w=217&h=188&c=7&r=0&o=5&pid=1.7" alt="hambúrguer">
            </div>
            <div class="card">
                <h3>Informações do autor da receita</h3>             
                <ul id="">
                    <li><b>Nome:</b> IFOME.COM</li>
                    <li><b>Profissão:</b> {{ name }}</li>
                    <li><b>Email:</b> frankpituzeiro@gmail.com.br</li>
                    <li><b>Instagram:</b> <a target="_blank"
                            href="#">@ifomecang</a></li>
                </ul>
            </div>
        </div>
       <div class="card">
            <div class="ingredientes">
                <h3>Ingredientes</h3>
                <ul>
                    <li>1 xícara (chá) de abobrinha ralada no ralo fino</li>
                    <li>1/5 colher (chá) de sal</li>
                    <li>Meia cebola pequena ralada</li>
                    <li>400 g de carne moída</li>
                    <li>4 colheres (sopa) de Farelo de Aveia Orgânica Nestlé</li>
                    <li>1 xícara (chá) de abobrinha ralada no ralo fino</li>
                </ul>
                    <br/>
                <h3>Modo de Preparo</h3> 
                <p>- Em um recipiente, misture todos os ingredientes até ficar homogêneo.</p>
                <p>- Modele 12 hambúrgueres médios e coloque em uma forma untada com azeite. Leve ao forno médio (180ºC), preaquecido por cerca de 30 minutos, virando na metade do tempo.</p>
            </div>
        </div>
    </div>
    <div class="card">
        <h3>Patrocinadores e criadores do site</h3>
        <p>Teste Django | Ifome Food.</p>
    </div>
</div>
